.border-pane{
    -fx-background-color: #AEE6E6;
}

.flow-pane{
    -fx-padding: 10.0 3.0 5.0 0.0;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.vbox{
    -fx-pref-width:50;

    -fx-padding: 10;
    -fx-background-radius:10px;
    -fx-border-radius: 10px;

    -fx-border-color: #FFA45B;
    -fx-background-color: #FBF6F0;
}


.button{
    -fx-border-color: #FFA45B;
    -fx-background-color: inherit;

    -fx-background-radius:10px;
    -fx-border-radius:10px;

    -fx-padding: 10;

    -fx-pref-width:100px;
    -fx-pref-height: 25px;
}

.button:hover{
    -fx-background-color: #FFDA77;
    -fx-cursor:hand;
}

.img{
    -fx-max-width:50px;
    -fx-max-height: 50px;
}

.label{
    -fx-text-fill:black;
    -fx-font-size:15;
}

.lbl-precio{
    -fx-font-weight:bold;
}

.arrow{
    -fx-cursor:hand;
    -fx-pref-width:50px;
    -fx-pref-height: 50px;
}

